$color__background-body: #fff;
$color__background-green: #3f5b2c;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__background-green;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__link: #1f3315; //darkgreen
$color__link-visited: $color__link;
$color__link-hover: $color__link;
$color__text-main: #7d7d7d;
$color__headings: #262626;

$color__border-input: rgba(125,125,125,.30);
$color__border-abbr: #666;

$color_white: #fff;
$color_light_green: #c1cdb8;
